<div id="article-{{this.article_id}}" class="articlesCard card mb-3" data-article-id="{{this.article_id}}" data-user-id="{{this.userid}}">
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <small class="text-muted">Posted by {{this.fullName}}</small><br>
        <small class="text-muted">{{this.postTime}}</small>
        <hr>
        <p class="card-text mt-3">{{this.content}}</p>
        {{#if this.image_path}}
            <img src="{{this.image_path}}" alt="Article Image" class="img-fluid mb-3">
        {{/if}}
    </div>

    {{#if this.userLoggedIn}}
    <div class="card-footer d-flex justify-content-between">
        <div id="like-status-{{this.article_id}}" class="d-flex align-items-center opacity-0 likeButtonsBox">
            <button data-likeAction="true" class="btn btn-outline-primary addLikeButton">
                <span>👍</span>
                <span>Like </span>
            </button>
            <button data-likeAction="false" class="btn btn-primary removeLikeButton">
                <span>❤️</span>
                <span>Liked</span>
            </button>
        </div>

        {{#if this.isAuthor}}
        <div class="editBox">
            <button onClick="editClicked({{this.article_id}}, {{this.userid}})" class="btn btn-danger">
                ✏️ Edit This
            </button>
        </div>
        {{/if}}

    </div>

    {{/if}}
</div>