<div id="comment-{{this.article_id}}" class="commentCard card mb-3" data-comment-id="{{this.article_id}}" data-user-id="{{this.userid}}">

    <div class="card-body">
        <small class="text-muted">Posted by {{this.fullName}}</small><br>
        <small class="text-muted">{{this.postTime}}</small>
        <hr>
        <p class="card-text mt-3">{{this.content}}</p>
    </div>

    {{#if this.userLoggedIn}}
    <div class="card-footer d-flex justify-content-between">
        <div id="like-status-{{this.article_id}}" class="d-flex align-items-center opacity-0 likeButtonsBox">
            <button data-likeAction="true" class="btn btn-outline-primary addLikeButton">
                <span>👍</span>
                <span>Like </span>
            </button>
            <button data-likeAction="false" class="btn btn-primary removeLikeButton">
                <span>❤️</span>
                <span>Liked</span>
            </button>
        </div>

        <div class="d-flex align-items-center justify-content-between align-items-center">

            {{#if this.isAncestor}}
                <div class="mx-1">
                    <button onClick="deleteCommentClicked({{this.article_id}})" class="btn btn-danger">
                        🗑️ Delete
                    </button>
                </div>
            {{/if}}

            <div class="ms-1 commentBox">
                <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#commentOnComment-{{this.article_id}}">
                    ️🗨️ Comment
                </button>
            </div>
        </div>


    </div>

    {{/if}}

    <div id="commentOnComment-{{this.article_id}}" class="collapse">
        <form action="/api/commentOnComment" method="post" id="commentForm">
            <input type="hidden" name="parent_id" value="{{this.article_id}}">
            <input type="hidden" name="anc_id" value="{{this.ancestor_article_id}}">

            <div class="p-3" style="display: grid; row-gap: 1em;">

                <div class="form-group d-flex align-items-start">
                    <label for="commentContent-{{this.article_id}}" class="mx-3 w-25 text-end">Your Comment</label>
                    <textarea id="commentContent-{{this.article_id}}" required class="form-control" name="commentContent" rows="5" placeholder="Your Comment..."></textarea>
                </div>
            </div>

            <input class="btn btn-primary btn-lg py-2 w-100" type="submit" value="🗨️ Save Comment">
        </form>
    </div>
    <button onclick="loadCommentClicked({{this.article_id}}, true)" class="btn btn-secondary btn-sm"
            data-bs-toggle="collapse" data-bs-target="#commentsViewBox-{{this.article_id}}">Show Comments</button>

    <div class="commentsViewBox p-2 collapse border-5 border-primary-subtle border-start" id="commentsViewBox-{{this.article_id}}">
        <div style="height: 250px;" class="d-flex justify-content-center align-items-center">
            <h6>Loading</h6>
        </div>
    </div>
</div>