<div class="">
    {{#each articles}}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.content}}</p>
                {{#if this.image_path}}
                    <img src="{{this.image_path}}" alt="Article Image" class="img-fluid mb-3">
                {{/if}}
                <small class="text-muted">Posted by {{this.user.fullName}} on {{formatDate this.postTime}}</small>
            </div>
        </div>
    {{/each}}
</div>