

<div class="text-center p-5">

    <h1>
        Hello,

        {{#if user}}
            {{user.fullName}}
        {{else}}
            Guest User
        {{/if}}
    </h1>

    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
</div>

<div class="p-3 bg-body-secondary rounded-3 rounded-bottom-0">

    <div id="post_form_area" class="shadow rounded bg-light">

        {{#if user}}
            <button id="post_form_collapse" data-bs-toggle="collapse" data-bs-target="#post_form_form" class="btn text-start btn-primary btn-lg py-4 px-3 w-100">
                <span id="post_form_collapse_span" style="animation-direction:normal; width:100%" class="text-nowrap fs-3 text-center d-inline-block">
                   ✍️ New Post
                </span>
            </button>
        {{else}}
            <a href="/account/login">
                <button class="btn text-center btn-primary btn-lg py-4 px-3 w-100">
                    <span class="fs-3">
                       🔑 Please log in to post
                    </span>
                </button>
            </a>
        {{/if}}

        <div id="post_form_form" class="collapse">
            {{> articleForm existingArticle=false}}
        </div>
    </div>

</div>
<div class="bg-body-tertiary p-4 d-flex align-items-center justify-content-between">

    {{#if user}}
        <div class="form-check form-switch d-flex align-items-center">
            <input id="myPostOnlySwitch" class="me-3 form-check-input" type="checkbox">
            <label class="form-check-label fs-5" for="myPostOnlySwitch">My Articles Only</label>
        </div>
    {{else}}
        <div></div>
    {{/if}}

    <div class="d-flex align-items-center justify-content-end w-50">
            <select id="sortSelect" class="form-select">
                <option value="">Sort by</option>
                <option value="title">Title</option>
                <option value="username">Name</option>
                <option value="postTime">Date</option>
            </select>
            <select id="sortType" class="form-select ms-2">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
    </div>

</div>
<div class="p-3 bg-body-secondary rounded-3 rounded-top-0">

    <div id="articles_area">

    </div>

</div >

<div class="modal fade" id="editArticleModal" tabindex="-1" aria-labelledby="editArticleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editArticleModalLabel">Edit Article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{> articleForm existingArticle=true }}
            </div>
        </div>
    </div>
</div>

<script>

    let onlyMineState = false;
    let sortSelectState = "";
    let sortTypeState = "asc";
    let articlesLoadedEvent = new CustomEvent('ArticlesLoaded');
    let sortFilterChangedEvent = new CustomEvent('SortFilterChanged');


    document.addEventListener('DOMContentLoaded', function() {
        const article_area = document.querySelector('#articles_area')
        document.addEventListener('SortFilterChanged', ()=>{
            refreshArticles(article_area);
        })
        refreshArticles(article_area);
        setSortingListeners()

    });

    document.addEventListener('ArticlesLoaded', function() {

        const articleCards = document.querySelectorAll('.articlesCard');
        {{#if user}}
            updateArticleDetails(articleCards);
            function updateArticleDetails(articleCards) {
                articleCards.forEach(async function(articleCard) {

                    const articleID = articleCard.dataset.articleId
                    const userID = {{user.id}}

                    const response = await fetchLikeStatus(articleID, userID)
                    const isLiked = response.userLikedThis
                    setLiked(articleID, isLiked)

                    document.querySelectorAll(`#like-status-${articleID} button`).forEach( (button)=> {
                        button.addEventListener('click', function() {
                            toggleLike(articleID, userID)
                        })
                    })

                    await insertComments(articleCard, articleID)

                })
            }

            async function insertComments(articleCard, articleID) {
                const response = await fetch(`/api/comment/${articleID}`)
                const content = await response.text()
                console.log(content , "ArticleID: -", articleID)
                articleCard.querySelector('.commentsViewBox').classList.add('p-2')
                articleCard.querySelector('.commentsViewBox').innerHTML = content

            }

            function setLiked(articleID, isLiked) {
                const likeButton = document.querySelector(`#like-status-${articleID} .addLikeButton`);
                const removeLikeButton = document.querySelector(`#like-status-${articleID} .removeLikeButton`)

                if (isLiked) {
                    likeButton.classList.add('d-none')
                    removeLikeButton.classList.remove('d-none')
                } else {
                    likeButton.classList.remove('d-none')
                    removeLikeButton.classList.add('d-none')
                }

                document.querySelector(`#like-status-${articleID}`).classList.remove('opacity-0')
            }

            async function toggleLike(articleID, userID) {
                const response = await fetch(`/api/toggleLike/${articleID}/${userID}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                if (response.status === 200) {
                    const data = await response.json();
                    setLiked(articleID, data.liked)
                }
            }


        {{/if}}

    })

    async function editClicked(articleId, userId) {

        const response = await fetch(`/api/article/${articleId}`);
        const article = await response.json();
        const {title, content} = article

        document.querySelector("#edittitle").value = title || ""
        document.querySelector("#editcontent").value = content || ""
        document.querySelector("#editBox .editArticleId").value = articleId

        const editModal = new bootstrap.Modal(document.querySelector("#editArticleModal"));
        editModal.show();
    }


    function setNewArticleFormAnimationLogic(){
        const post_form_collapse = document.querySelector('#post_form_collapse')
        const post_form_collapse_span = document.querySelector('#post_form_collapse_span')

        post_form_collapse.addEventListener('click', ()=>{

            post_form_collapse.classList.toggle('btn-primary')
            post_form_collapse_span.style.width = post_form_collapse_span.style.width==='100%'?'0%':'100%'
            post_form_collapse_span.classList.toggle('animation_div_size')
        })

        post_form_collapse_span.addEventListener('animationend', ()=>{
            post_form_collapse_span.classList.toggle('animation_div_size')
            post_form_collapse_span.style.animationDirection = post_form_collapse_span.style.animationDirection==='normal'?'reverse':'normal'
        })
    }

    function setSortingListeners(){

        {{#if user}}
            setNewArticleFormAnimationLogic()

            const onlyMineSwitch = document.querySelector('#myPostOnlySwitch')
            onlyMineSwitch.addEventListener('click', ()=>{
                onlyMineState = onlyMineSwitch.checked;
                document.dispatchEvent(sortFilterChangedEvent)
            })

        {{/if}}

        const sort_select = document.querySelector('#sortSelect')
        sort_select.addEventListener('change', ()=>{
            sortSelectState = sort_select.value
            document.dispatchEvent(sortFilterChangedEvent)
        })

        const sort_type = document.querySelector('#sortType')
        sort_type.addEventListener('change', ()=>{
            sortTypeState = sort_type.value
            document.dispatchEvent(sortFilterChangedEvent)
        })
    }

    async function refreshArticles(wheretoPut) {
        const filters = getFilters()
        const sorts = getSorts()
        try {
            const response = await fetch('/api/showArticles', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    filters,
                    sorts
                })
            });
            wheretoPut.innerHTML = await response.text();
            document.dispatchEvent(articlesLoadedEvent);
        } catch (error) {
            wheretoPut.innerHTML = 'Error fetching articles: ' + error
        }
    }

    async function fetchLikeStatus(articleId, userId){
        const response = await fetch(`/api/getUserLikeStatus/${articleId}/${userId}`)
        return await response.json();
    }

    function getFilters() {
        return {
            'filterByUser': onlyMineState
        }
    }

    function getSorts() {
        return {
            sortSelectState: sortSelectState,
            sortTypeState: sortTypeState
        }
    }
</script>


