

<div class="text-center p-5">

    <h1>
        Hello,

        {{#if user}}
            {{user.fullName}}
        {{else}}
            Guest User
        {{/if}}
    </h1>

    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
</div>

<div class="p-3 bg-body-secondary rounded-3 rounded-bottom-0">

    <div id="post_form_area" class="shadow rounded bg-light">

        {{#if user}}
            <button id="post_form_collapse" data-bs-toggle="collapse" data-bs-target="#post_form_form" class="btn text-start btn-primary btn-lg py-4 px-3 w-100">
                <span id="post_form_collapse_span" style="animation-direction:normal; width:100%" class="text-nowrap fs-3 text-center d-inline-block">
                   ✍️ New Post
                </span>
            </button>
        {{else}}
            <a href="/account/login">
                <button class="btn text-center btn-primary btn-lg py-4 px-3 w-100">
                    <span class="fs-3">
                       🔑 Please log in to post
                    </span>
                </button>
            </a>
        {{/if}}

        <form id="post_form_form" action="/api/new" method="post" class = "bg-light collapse input_form">

            <hr>

            <div class="p-3" style="display: grid; row-gap: 1em;">

                <div class="form-group d-flex align-items-center">
                    <label for="title" class="mx-3 w-25 text-end">Title</label>
                    <input id="title" required class="form-control" autofocus type="text" name="title" maxlength="32" placeholder="Enter article title">
                </div>

                <div class="form-group d-flex align-items-start">
                    <label for="content" class="mx-3 w-25 text-end">Content</label>
                    <textarea id="content" required class="form-control" name="content" rows="10" placeholder="Write your article here..."></textarea>
                </div>

                <div class="form-group d-flex align-items-center">
                    <label for="image" class="mx-3 w-25 text-end">Upload Image</label>
                    <input id="image" class="form-control" type="file" name="image_path" accept="image/jpx, image/png, image/gif, image/bmp">
                    <small id="imageFeedback" class="form-text"></small>
                </div>
                <input type="hidden" name="parent_id" value="{{parent_id}}">

            </div>

            <input class="btn btn-primary btn-lg py-4" type="submit" value="📝 Publish">
        </form>

    </div>

</div>
<div class="bg-body-tertiary p-4 d-flex align-items-center justify-content-between">

    {{#if user}}
        <div class="form-check form-switch d-flex align-items-center">
            <input id="myPostOnlySwitch" class="me-3 form-check-input" type="checkbox">
            <label class="form-check-label fs-5" for="myPostOnlySwitch">My Articles Only</label>
        </div>
    {{else}}
        <div></div>
    {{/if}}

    <div class="d-flex align-items-center justify-content-end w-25">
            <select id="sortSelect" class="form-select">
                <option value="">Sort by</option>
                <option value="title">Title</option>
                <option value="username">Name</option>
                <option value="postTime">Date</option>
            </select>
            <select id="sortType" class="form-select ms-2">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
    </div>

</div>
<div class="p-3 bg-body-secondary rounded-3 rounded-top-0">

    <div id="articles_area">

    </div>

</div >

<script>

    let onlyMineState = false;
    let sortSelectState = "";
    let sortTypeState = "asc";
    let articlesLoadedEvent = new CustomEvent('ArticlesLoaded');


    document.addEventListener('DOMContentLoaded', function() {

        {{#if user}}

            const post_form_collapse = document.querySelector('#post_form_collapse')
            const post_form_collapse_span = document.querySelector('#post_form_collapse_span')

            post_form_collapse.addEventListener('click', ()=>{

                post_form_collapse.classList.toggle('btn-primary')
                post_form_collapse_span.style.width = post_form_collapse_span.style.width==='100%'?'0%':'100%'
                post_form_collapse_span.classList.toggle('animation_div_size')

            })

            post_form_collapse_span.addEventListener('animationend', ()=>{
                post_form_collapse_span.classList.toggle('animation_div_size')
                post_form_collapse_span.style.animationDirection = post_form_collapse_span.style.animationDirection==='normal'?'reverse':'normal'

            })

            const onlyMineSwitch = document.querySelector('#myPostOnlySwitch')
            onlyMineSwitch.addEventListener('click', ()=>{
                onlyMineState = onlyMineSwitch.checked;
                fetchArticles(article_area);
            })

        {{/if}}

        const article_area = document.querySelector('#articles_area')
        const sort_select = document.querySelector('#sortSelect')
        sort_select.addEventListener('change', ()=>{
            sortSelectState = sort_select.value
            fetchArticles(article_area);

        })
        const sort_type = document.querySelector('#sortType')
        sort_type.addEventListener('change', ()=>{
            sortTypeState = sort_type.value
            fetchArticles(article_area);

        })

        fetchArticles(article_area);
    });

    async function fetchArticles(wheretoPut) {

        const filters = getFilters()
        const sorts = getSorts()

        try {
            const response = await fetch('/api/showArticles', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    filters,
                    sorts
                })
            });
            wheretoPut.innerHTML = await response.text();
            document.dispatchEvent(articlesLoadedEvent);


        } catch (error) {
            wheretoPut.innerHTML = 'Error fetching articles: ' + error
        }
    }

    async function fetchLikeStatus(articleId, userId){
        const response = await fetch(`/api/getUserLikeStatus/${articleId}/${userId}`)
        return await response.json();
    }

    function getFilters() {
        return {
            'filterByUser': onlyMineState
        }
    }

    function getSorts() {
        return {
            sortSelectState: sortSelectState,
            sortTypeState: sortTypeState
        }
    }

    document.addEventListener('ArticlesLoaded', function() {

        const articleCards = document.querySelectorAll('.articlesCard');
        {{#if user}}
            updateLikeButtons(articleCards);


            function updateLikeButtons(articleCards) {
                articleCards.forEach(async function(articleCard) {

                    const articleID = articleCard.dataset.articleId
                    const userID = {{user.id}}

                    const response = await fetchLikeStatus(articleID, userID)
                    const isLiked = response.userLikedThis
                    setLiked(articleID, isLiked)

                    document.querySelectorAll(`#like-status-${articleID} button`).forEach( (button)=> {
                        button.addEventListener('click', function() {
                            toggleLike(articleID, userID)
                        })
                    })
                })
            }

            function setLiked(articleID, isLiked) {
                const likeButton = document.querySelector(`#like-status-${articleID} .addLikeButton`);
                const removeLikeButton = document.querySelector(`#like-status-${articleID} .removeLikeButton`)

                if (isLiked) {
                    likeButton.classList.add('d-none')
                    removeLikeButton.classList.remove('d-none')
                } else {
                    likeButton.classList.remove('d-none')
                    removeLikeButton.classList.add('d-none')
                }

                document.querySelector(`#like-status-${articleID}`).classList.remove('opacity-0')
            }

            async function toggleLike(articleID, userID) {
                const response = await fetch(`/api/toggleLike/${articleID}/${userID}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                if (response.status === 200) {
                    const data = await response.json();
                    setLiked(articleID, data.liked)
                }
            }


        {{/if}}

    })
</script>


